body {
  margin: 0px;
  background: url(../images/bg.jpg) center center fixed no-repeat;
  
}

li {
  color: #eee;
  list-style: none;
  /* border: 1px solid #eee; */
  background-color: transparent;
  width: 150px;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}

ul {
    margin: 20px 0 0 0;
    padding: 0px;
}

ul li {
  /* display: inline-block; */
  width: 200px;
  float: left;
  padding: 5px 10px;
}

ul li ul li {
  display: none;
}

ul li:hover ul li {
  display: block;
  opacity: 0.8;
}
